In [1]:
from utils import *

def view(show=False, limit=None):
    pokemons = PokemonKind.objects.all()
    if limit:
        pokemons = pokemons[:limit]
    render('pokemon_list.html', context={'pokemons': pokemons}, show=show)
    
view(show=True, limit=3)

In [2]:
with count_queries() as m:
    view()

print(m.queries)

Number of queries: 1
['SELECT "PokemonKind"."id", "PokemonKind"."name", "PokemonKind"."type1", "PokemonKind"."type2" FROM "PokemonKind"']

In [3]:
timeit(view)

Ran in: 0.03996245699818246

In [13]:
def trainer_pokemon_view(show=False, limit=5000):
    trainers = Trainer.objects.all()
    if limit:
        trainers = trainers.order_by("?")[:limit]
    render('trainer_pokemons.html', context={'trainers': trainers}, show=show)

trainer_pokemon_view(show=True, limit=3)

In [5]:
with count_queries() as m:
    trainer_pokemon_view(limit=10)

Number of queries: 11

In [6]:
for q in m.queries:
    print(q, end='\n\n')

SELECT "Trainer"."id", "Trainer"."name" FROM "Trainer" ORDER BY RANDOM() ASC  LIMIT 10

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 4654

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 5234

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 3463

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 3722

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 11638

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 10893

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 3868

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 6720

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 8286

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 9334

In [7]:
show_template('trainer_pokemons.html')

('{% for t in trainers %}\n'
 '  Trainer: {{ t.name }}</br>\n'
 '  {% for p in t.pokemons.all %}\n'
 '    {{ forloop.counter }}. {{ p.name }}</br>\n'
 '  {% endfor %}\n'
 '  -------------------------</br>\n'
 '{% endfor %}\n')

In [8]:
# timeit(trainer_pokemon_view)

In [9]:
%load_ext sql

In [10]:
%sql sqlite:///pokemon.sqlite

'Connected: @pokemon.sqlite'

In [11]:
query = m.queries[1]
print(query, end='\n\n')
%sql $query

SELECT "Pokemon"."id", "Pokemon"."trainer_id", "Pokemon"."pokemon_kind_id", "Pokemon"."place", "Pokemon"."pokelevel", "Pokemon"."hp", "Pokemon"."maxhp", "Pokemon"."attack", "Pokemon"."defense", "Pokemon"."spatk", "Pokemon"."spdef", "Pokemon"."speed" FROM "Pokemon" WHERE "Pokemon"."trainer_id" = 4654

 * sqlite:///pokemon.sqlite
Done.

[(11356, 4654, 477, 0, 49, 194, 194, 120, 105, 52, 105, 66),
 (11357, 4654, 527, 1, 50, 183, 183, 163, 118, 78, 88, 68)]

In [16]:
%sql SELECT * FROM "Pokemon" INNER JOIN "PokemonKind" ON ("PokemonKind"."id" = "Pokemon"."pokemon_kind_id") LIMIT 10

 * sqlite:///pokemon.sqlite
Done.

[(0, 0, 60, 157, 157, 50, 68, 50, 80, 116, 1, 1, 1, 'Smeargle', 'Normal', 'None'),
 (1, 0, 30, 83, 83, 27, 36, 27, 42, 60, 1, 2, 1, 'Smeargle', 'Normal', 'None'),
 (2, 0, 57, 281, 281, 128, 76, 128, 76, 93, 2, 3, 2, 'Wailord', 'Water', 'None'),
 (2, 1, 57, 173, 173, 116, 122, 150, 128, 82, 3, 4, 3, 'Vileplume', 'Grass', 'Poison'),
 (3, 0, 47, 144, 144, 139, 115, 87, 97, 64, 4, 5, 4, 'Armaldo', 'Rock', 'Bug'),
 (3, 1, 47, 154, 154, 98, 113, 98, 122, 62, 5, 6, 5, 'Cradily', 'Rock', 'Grass'),
 (4, 0, 56, 170, 170, 165, 137, 103, 114, 75, 4, 7, 4, 'Armaldo', 'Rock', 'Bug'),
 (4, 1, 56, 182, 182, 115, 133, 115, 145, 73, 5, 8, 5, 'Cradily', 'Rock', 'Grass'),
 (5, 0, 21, 57, 57, 50, 20, 39, 20, 39, 6, 9, 6, 'Carvanha', 'Water', 'Dark'),
 (5, 1, 21, 63, 63, 37, 29, 39, 31, 27, 7, 10, 7, 'Numel', 'Fire', 'Ground')]