In [1]:
import sqlite3

c = sqlite3.connect('pokemon.sqlite')

In [14]:
with c:
    c.execute('DELETE FROM Pokemon')

In [17]:
relationship = c.execute('SELECT pokename, type1, type2 from TrainerPokemon')

with c:
    for pkm_data in relationship:
        q = c.execute('SELECT name FROM Pokemon WHERE name=?', [pkm_data[0]])
        pkm = q.fetchone()
        if pkm:
            continue
        c.execute('INSERT INTO Pokemon(name, type1, type2) VALUES(?, ?, ?)', pkm_data)

In [20]:
relationship = c.execute('SELECT id, name from Pokemon')

with c:
    for pkm_id, name in relationship:
        c.execute('UPDATE TrainerPokemon SET pokemonID=? WHERE pokename=?', (pkm_id, name))